body {
    background-color: #F0F3F5;
}
th, td {
    border: 1px dashed black;
}
#songs{
    width: 100%;
}
/*Selector de clase*/
.song {
    background-color: #D7C9AA
 }
 /*selector de clase*/
.song:hover {
    background-color: #D6EEEE;
    color:#03080c
}
.video{
    width:320px;
    height:240px;
}
/*selector de id*/
#rockdrum{ 
    width:50%;
    display:block;
    margin:auto;
}

.center{
    text-align: center;
}